@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    min-height: 100vh;
    @apply bg-slate-900;
}

@layer utilities {
    .alert {
        position: absolute;
        top: 10%;
        right: 10px;
        max-width: 16rem;
    }

    .alert-message {
        max-width: 15rem;
    }
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: lexend, sans-serif
    }

    p,
    a,
    label,
    button {
        font-family: lexend, Verdana;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body::-webkit-scrollbar {
        width: .95rem;
    }

    body::-webkit-scrollbar-track {
        @apply bg-slate-900
    }

    body::-webkit-scrollbar-thumb {
        @apply bg-pink-800;
        border: 3px solid #0F172A;
        border-radius: 20px;
    }
}